html {
  background: linear-gradient(to top, #213448, #23323d);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EAE0CF;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: rgb(41, 40, 39);
    animation: fade 0.5s ease-in forwards;
    padding-left: 1%;
    padding-right: 1%;
}

a {
  text-decoration: none;
  color: rgb(41, 40, 39);
}

.header {
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  margin: 0;
}

.links{
  margin-top: 0;
}

.links img {
  width: 5%;
}

.links img:hover{
  opacity: 80%;
}

.links img:active{
  opacity: 30%;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity:1; }
}

hr {
  width: 20%;
  margin: 0px auto;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: #213448;
}

audio {
  width: 50%;
  margin-top: 10px;
  height: 20px;
  font-size: small;
}




